<%- include("./partials/header.ejs")%>

<div class="px-4 py-5 my-3 text-center">
    <img class="mx-auto mb-4" src="https://onlyblog.net/wp-content/uploads/2021/02/5-Tips-For-Starting-A-Successful-Business-Blog.jpg" alt="" width="300" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis">Create your own Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">. Experience comes from actually doing something, and you can’t gain experience until you do. Qualifications don’t really matter. Nobody cares</p>
     
  </div>

<%- include("./partials/footer.ejs") %>