
h1{
    color: black;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.icon{
    transition-property: opacity, transform;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    opacity: 1;
    font-family: "Lemon variant0", Tofu;
    line-height: initial;
    transition-duration: 350ms;
}
.nav-link-color{
    color: black;
}

body{

    background-color: #F6B17A;
}

footer{
    justify-content: center;
    
    
    width: 83%;
    position: absolute;
    margin-top: 5px;
    bottom: 0;
    margin-bottom: 0;
}
.form_width{
    width: 50%;
    height: 50%;
    border: 1px dotted white;
}

label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

form{
    margin: 2px;
    padding: 5px;
    font-weight: bolder;
}
/* aa */
input{
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]{
    border: 1px solid black;
    font-weight:500;
}
.no_blog{
    text-align: center;
}

.blog_space{
    border: 2px solid white;
    margin-bottom: 10px;
   
}

h3,h4,h5,h6{
    font-weight: bolder;
    color: black;
    padding: 2px;
    margin: 5px;
}

h5,h6{
    font-weight: bold;
}

/* .hide{
    display: none;
} */